@font-face{
    font-family: dalmatins;
    src: url('fonts/Dalmatins.otf');
}
@font-face{
    font-family: nexa-light;
    src: url('fonts/Nexa-Light.otf');
}
@font-face{
    font-family: nexa-bold;
    src: url('fonts/nexa-bold.otf');
}
@font-face{
    font-family: OpenSans;
    src: url('fonts/OpenSans/OpenSans-Light.ttf');
}
@font-face{
    font-family: OpenSans-semibold;
    src: url('fonts/OpenSans/OpenSans-Semibold.ttf');
}
@font-face{
    font-family: OpenSans-bold;
    src: url('fonts/OpenSans/OpenSans-Bold.ttf');
}
@font-face{
    font-family: OpenSans-italic;
    src: url('fonts/OpenSans/OpenSans-Italic.ttf');
}
:root{
    --fundo-verde: #2DB9AC;
    --vermelho-logo:#D20039;
    --azul-logo: #151E3F;


}
/*---------header ---------*/
a{
    text-decoration: none;
    color:white;
}
header{
    position: relative;
    width: 100%;
}
ul{
    list-style: none;
}
.deactivated{
    transform: translateX(-100vw);
    
}
.visibiliti{
    visibility: hidden;
}
.hamburguer{
    height: 5vh;
    width: 30px;
    top: 21px;
    left: 25px;
    position: absolute;
    z-index: 3;
    transition: all 0.6s ease-out;
}
.hamburguer-transi{
    transform: translateX(40vw);
    transition: all 1.5s ease-out;
}

.hamburguer-transi #comp1{
    transform: translateY(8px) rotateZ(-45deg);
}
.hamburguer-transi #comp3{
    transform: translateY(-8px) rotateZ(45deg);
}
.hamburguer-transi #comp2{
    opacity: 0;
}


.hamburguer .component{
    height: 3px;
    background: white;
    margin: 5px 0;
    transition: all 0.3s ease-out;
}
.menu-mobile{
    width: 60vw;
    position: absolute;
    padding-top: 7vh;
    padding-bottom: 25px;
    border-radius: 0px 0px 20px;
    background: rgba(6, 12, 39,.3);
    backdrop-filter: blur(10px);
    transition: all 1s ease-out;
    z-index: 2;
}
.link-departament{
    font-size: 18px;
    font-family: nexa-bold;
    margin-bottom: 15px;
}
.menu-mobile .departament{
    margin: 20px 0px 20px 30px;
    position: relative;
    transition: 1.5s;
}
.departament::after{
    content: '';
    height: 1px;
    width: 176px;
    background: #FFFFFF;
    position: absolute;
    bottom: -10px;
    left: 0;
    opacity: 0.5;
    transition: 1.5s;
}

.menu-mobile .departament a{
    font-size: 20px;
}
.drop{
    position: absolute;
    color: white;
    top: 3px;
    right: 40%;
    height: 15px;
    transition: all 1s ease-out;
}
.drop-rotate{
    transform: rotate(180deg);

}

.section-categoria{
    transition: all 1s ease-out;
    height: 0;
}
.section-categoria-drop{
    height: 215px !important;
}
.categoria{
    margin: 10px 0 10px 5px;
    transition: all 1.5s;
}
.categoria a{
    font-size: 18px !important;
    font-family: nexa-light;
    
}

.visited:target{
    color: red
}
@media (min-width: 720px ){

    .form-newsletter{
        max-width: 50% ;
    }
    .div-logo-top{
        position: absolute;
        left: 50px;
        top: 0;
        display: unset !important;
    }
    .logo-top-page{
        font-size: 11px !important;

    }
    .logo-bottom-page{
        font-size: 7px !important;
        color: var(--vermelho-logo) !important;
        letter-spacing: 9px;
    }
    .departament::after{
        height: 0;
        width: 0;
    }
    .menu-mobile{
        width: 100%;
        display: flex;
        padding: 0 0;
        border-radius: 0;
        align-items: center;
        background: unset;
        backdrop-filter: unset;
        height: 10vh;
        position: unset;
        background: var(--fundo-verde);
        justify-content: flex-end;
    }
    .icon-home{
        position: absolute;
        left: -30px;
        top: -2px;
        padding-left: 30px;
    }
    .drop{
        right: -25px;
    }
    .link-departament{
        margin: 0;
    }
    .section-categoria{
        position: absolute;
        top: 41px;  
        right: -50%;
        background-color: var(--fundo-verde);
        transition: 300ms;
        padding: 0 15px;
        border-radius: 0 0 20px 20px;
    }
    .categoria{
        transition: all 50ms ease;
        visibility: visible;
    }
    .section-categoria.deactivated li{
        visibility: hidden;
        pointer-events: none;
    }
    .section-categoria.section-categoria-drop{
        height: 255px !important;
    }
    .hamburguer{
        display: none;
    }
    .deactivated{
        transform: translateX(0);
    }
    .section-categoria.deactivated{
        transform: translateY(0);
    }
    .menu-mobile .departament{
        margin: 0 25 !important;
    }
    .menu-mobile .departament:nth-child(4){
        margin: 0px 15vh 0px 50px !important;
    }
    .menu-mobile .departament:nth-child(1){
        padding-left: 30px;
    }
}
/*---------header ---------*/
/*-------- Footer ---------*/

*{
    margin: 0;
    padding: 0;
}
footer{
    background: var(--fundo-verde);
}
.div-logo{
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 20px 10px
}
.logo-top{
    font-family: dalmatins;
    color: #151E3F;
    opacity: 1;
    font-size: 20px;
}
.logo-bottom{
    font-family: nexa-light;
    color: #FFFFFF;
    opacity: 1;
    font-size: 12px;
    letter-spacing: 12px;
}
.social{
    max-width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    padding-bottom: 25px;
}
.contact{
    max-width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    padding-bottom: 40px;
}

.email-phone{
    display: flex;
    gap: 10px;
}
.email{
    font-size: 13px;
    font-family: nexa-light;
    text-align: center;
    width: 50%;
}

.whatsapp{
    font-size: 13px;
    font-family: nexa-light;
    text-align: center;
    width: 50%;
}
.whatsapp img{
    margin-right: 2px;
}
.div-address{
    display: flex;
}
.horario{
    font-size: 13px;
    font-family: nexa-light;
    color: black;
    text-align: center;
    margin: 15px auto 0;
    max-width: 90%;
}
.address{
    font-family: nexa-light;
    font-size: 13px;
    text-align: center;
    width: 90%;
    position: relative;
    margin-top: 15px;
    margin-left: 20px;
    line-height: 16px;
}
.address img{
   margin-right: 5px;
}

@media (max-width: 359px ){
    .email-phone{
        gap: 10px;
        flex-direction: column;
    }
    .email{
        width: 100%;
        
    }
    .whatsapp{
        width: 100%;
    }
    
}

/*-------- Footer ---------*/

/*-------- Newsletter ---------*/

.newsletter{
    width: 100%;
    background: transparent url('src/img/bg_newsletter.svg');
    padding: 25px 0;

}
.content{
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.newsletter-info{
    color: #FFFFFF;
    font-family: OpenSans ;
    font-size: 17px;
    text-align: center;
    line-height: 32px;
    
}
.newsletter-info samp{
    color: var(--vermelho-logo);
    font-family:  OpenSans-semibold ;
}
.newsletter-icon{
    margin: 10px 0;
}

.form-newsletter{
    flex-direction: column;
    display: flex;
    max-width: 80%;
    margin: 0 auto;
}
::-webkit-input-placeholder {
    color: white;
 }
.input-email{
    border-radius: 5px;
    background: rgba(28, 27, 61, 0.9);
    outline: none;
    color: white;
    border: none;
    height:  33px;
    margin-bottom: 25px;
    padding-left: 15px;
    font-family: OpenSans-italic;
    font-size: 15px;
}

.btn-email{
    background: var(--vermelho-logo);
    border: none;
    height: 40px;
    border-radius: 5px;
    color: #FFFFFF;
    font-family: OpenSans-bold;
    font-size: 18px;
    outline: none;
    cursor: pointer;
}
@media (max-width: 370px ){
    .btn-email{
        font-size: 15px !important;
    }
}

/*-------- Newsletter ---------*/



