
/*-------- Home ---------*/

.banner-principal{
    background: url('src/img/bg1.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100%;
}
.banner-principal-foto{
    background: url('src/img/foto_1.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
    background-position: 70px 0px;
    
}

.div-logo-banner{
    max-width: 70%;
    position: absolute;
    background: transparent;
    bottom: 90px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;

}
.logo-banner-top{
    font-size: 25px !important;
}

.logo-banner-bottom{
    font-size: 13px !important;
    color: #D20039 !important;
}
.btn-banner{
    width: 80vw;
    position: absolute;
    background:#D20039  ;
    bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    border: none;
    border-radius: 5px;
    height: 40px;
    font-size: 18px;
    font-family:  OpenSans-bold;
    color: white;
}
.btn-banner img{
    position: absolute ;
    top: 12px;
}
.content-text{
    max-width: 80%;
    margin: 0 auto;
    padding: 100px 0;
    text-align: center;
}
.text{
    font-size: 16px;
    font-family: nexa-light ;
    text-align: center;
    line-height: 32px;
}
.info-card{
    width: 100%;
}
.card-sevice{
    height: 375px;
    width: 100%;
    position: relative;
}
.sevice{
    max-width: 70%;
    margin: 0 auto;
    height: 273px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255,0.25);
    backdrop-filter: blur(10px);
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.sevice.top{
    border-radius: 20px 20px 0 0;
    bottom: 0;
}
.sevice.bottom{
    border-radius: 0 0 20px 20px;
}
.card-sevice-image1{
    background: url('src/img/sobrancelha-corte.jpg');
    background-size: cover;
    background-position: right;
}
.card-sevice-image2{
    background: url('src/img/massagem-cortada.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.sevice-info{
    color: #030027;
    font-size: 17px;
    font-family: dalmatins;
    padding-top: 25%;
    margin-bottom: 25px;
}
.btn-info{
    height: 41px;
    width: 135px;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: OpenSans-bold;
    background: #090070;
    font-size: 18px;

}
.btnservice{
    height: 41px;
    width: 90%;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: OpenSans-bold;
    background: #090070;
    font-size: 18px;
    margin-bottom: 10vh;
}
.content-text-bottom{
    padding-top: 10vh !important;
}
@media (max-width: 380px ){
    .banner-principal-foto{
        background-size: 100%;
        background-position: 60px 0px;
    }
    .logo-banner-top{
        font-size: 24px !important;
    }

}
@media (max-width: 360px ){
    .logo-banner-top{
        font-size: 23px !important;
    }

}
@media (max-width: 350px ){
    .logo-banner-top{
        font-size: 21px !important;
    }

}
/*-------- Home ---------*/



