
/*-------- Home ---------*/

.banner-principal{
    background: url('src/img/bg1.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}
.banner-principal-foto{
    background: url('src/img/foto_1.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
    background-position: 70px 0px;
    
}

.div-logo-banner{
    max-width: 70%;
    position: absolute;
    background: transparent;
    bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    transition: 400ms;
}
.logo-banner-top{
    font-size: 25px !important;
}

.logo-banner-bottom{
    font-size: 13px !important;
    color: #D20039 !important;
}
.btn-banner{
    width: 80vw;
    position: absolute;
    background:#D20039  ;
    bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    border: none;
    border-radius: 5px;
    height: 40px;
    font-size: 18px;
    font-family:  OpenSans-bold;
    color: white;
}
.btn-banner img{
    position: absolute ;
    top: 12px;
}
.content-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    position: relative;
    transition: 400ms;
}
.content-text{
    max-width: 80%;
    text-align: center;
    padding: 10px;
    transition: 400ms;
    margin-top: 30px;
}
.content-text .text{
    opacity: 0;
}
.text{
    font-size: 18px;
    font-family: nexa-light ;
    text-align: center;
    line-height: 32px;
    margin-bottom: 25px;
    transition: all 1s ease-out;
}
.info-card{
    width: 100%;
}
.card-sevice{
    height: 375px;
    width: 100%;
    position: relative;
}
.sevice{
    max-width: 70%;
    margin: 0 auto;
    height: 273px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255,0.25);
    backdrop-filter: blur(10px);
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    justify-content: center;
}
.sevice.top{
    border-radius: 20px 20px 0 0;
    bottom: 0;
}
.sevice.bottom{
    border-radius: 0 0 20px 20px;
    
}
.card-sevice-image1{
    background: url('src/img/sobrancelha-corte.jpg');
    background-size: cover;
    background-position: right;
}
.card-sevice-image2{
    background: url('src/img/massagem-cortada.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.sevice-info{
    color: #030027;
    font-size: 17px;
    font-family: dalmatins;
    margin-bottom: 25px;
}
.btn-info{
    height: 41px;
    width: 135px;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: OpenSans-bold;
    background: #090070;
    font-size: 18px;

}
.btnservice{
    height: 41px;
    width: 90%;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: OpenSans-bold;
    background: #090070;
    font-size: 18px;
    margin-bottom: 10vh;
}
.content-body-botom{
    height: auto !important;
    
}
.servicos{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.servicos h2{
    font-family: dalmatins;
    font-size: 20px;
    text-align: center;
    margin: 25px 0;
}
.servicos .div-card-grid{
    display: grid;
    grid-template-columns: 100vw 100vw 100vw;
    transition: all 1s ease;
    padding-bottom: 20px;
}
.div-card-grid .card-grid{
     display: flex;
     
}
.div-card-grid  .card-grid a{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.div-card-grid a img{
    margin: 5px 0;
    width: 100px;
}
.div-card-grid a h3{
    color: black;
    font-size: 20px;
    margin-top: 10px;
    font-family: nexa-light;
    text-align: center;
    height: 10px;
}
.incone-bolhas{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0 10px 0;
}
.incone-bolhas span{
    width: 15px;
    height: 5px;
    border-radius: 10px;
    margin: 0 3px ;
    border: 1px solid black;
    transition: 400ms;
}
.incone-bolhas .back{
    background-color: black;
}
.icon-left{
  position: absolute;
  bottom: -5px;
  left: 10px;
  width: 40px;
}
.icon-left.visi{
    visibility: hidden;
}
.icon-rigth{
    position: absolute;
    bottom: -5px;
    right: 10px;
    width: 40px;
}   
.icon-rigth.visi{
    visibility: hidden;
}
.clinica{
    width: 100%;
    background-color: var(--fundo-verde);
    border-radius: 30px 30px 0 0;
    padding-bottom: 30px;
}
.clinica .content-clinica{
    max-width: 80%;
    margin: 0 auto;
}

.clinica .content-clinica h2{
    padding-top: 50px;
    font-size: 20px;
    font-family: dalmatins;
    text-align: center;
}
.div-clinica{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.div-fachada{
    width: 100%;
    height: 315px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-fachada img{
    width: 283px;
    height: 265px;
    
}
.location{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px 0 10px 0;
}
.location h2{
    font-size: 20px;
    font-family: dalmatins;
    text-align: center;
}
.location iframe{
    margin-top: 25px;
    max-width: 90vw;
    height: 300px;
    border-radius: 20px;
    box-shadow: -1px 1px 20px rgba(0,0,0,.4);
}
.location p{
    font-family: nexa-light;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
    max-width: 80%;
}

.div-logo-top{
    display: none;
}
@media (min-width: 720px ){
    .info-card{
        display: flex;
    }
    .card-sevice{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sevice.bottom{
        margin-left:  0 ;
        margin-right: auto ;
        border-radius: 0px 20px 20px 0px ;
    }
    .sevice.top{
        margin-left:  auto ;
        margin-right: 0 ;
        border-radius: 20px 0px 0px 20px ;
        bottom: inherit;
    }
    .banner-principal-foto{
        background-position: 95%;
        height: 90vh;
        background-attachment: unset;
    }
    .banner-principal{
        height: 90vh;
    }
    .btn-banner{
        width: 40vw;
        left: 5vw;
        top: 85vh;
        margin: unset;
    }
    .div-logo-banner{
        left: 5vw;
        top: 40vh;
        right: unset;
    }

}
@media (max-width: 380px ){
    .banner-principal-foto{
        background-size: 100%;
        background-position: 60px 0px;
    }
    .logo-banner-top{
        font-size: 24px !important;
    }

}
@media (max-width: 360px ){
    .logo-banner-top{
        font-size: 23px !important;
    }

}
@media (max-width: 350px ){
    .logo-banner-top{
        font-size: 21px !important;
    }

}
/*-------- Home ---------*/



