/*logo TOP*/

.div-logo-top{
    position: absolute;
    right: 10px;
}
.logo-top-page{
    font-size: 11px;
    font-family: dalmatins;
    color: #151E3F;
}
.logo-bottom-page{
    font-size: 5px !important;
    color: #D20039;
    font-family: nexa-light;
    opacity: 1;
    letter-spacing: 7.5px;
    text-align: center;
}

/*-------- quem somos ---------*/
.page-fundo{
    background: url('src/img/bg2.png');
    background-size: 100%;
    background-repeat: no-repeat;
}
.content-top{
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-top: 20vh;
    align-items: center;
}
.content-top img{
    margin-bottom: 30px;
}
.title-quem-somos{
    font-size: 30px ;
    font-family: nexa-bold;
    color: #FFFFFF;
    margin-bottom: 25px;
}
.desc-quem-somos{
    font-family: nexa-light ;
    font-size: 16px;
    color: #030027;
    margin-bottom: 25px;
    text-align: center;
    line-height: 25px !important;
}
.content-center{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2DB9AC;
    padding: 30px 0;
    border-radius: 0 30px 0 0;
}
.info-quem-somos{
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.info-quem-somos p{
    color: #FFFFFF;
    font-size: 16px;
    font-family: nexa-light;
    text-align: center;
}
.btnservice{
    height: 41px;
    width: 90%;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: OpenSans-bold;
    background: #090070;
    font-size: 18px;
    margin-bottom: 25px;
}
.content-text{
    max-width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
}
.text{
    font-size: 16px;
    font-family: nexa-light ;
    text-align: center;
    line-height: 25px;
}

.clinica{
    width: 100%;
    background-color: var(--fundo-verde);
    border-radius: 30px 30px 0 0;
    padding-bottom: 30px;
}
.clinica .content-clinica{
    max-width: 80%;
    margin: 0 auto;
}

.clinica .content-clinica h2{
    padding-top: 50px;
    font-size: 20px;
    font-family: dalmatins;
    text-align: center;
}
.div-fachada{
    width: 100%;
    height: 315px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-fachada img{
    width: 283px;
    height: 265px;
    
}
.location{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px 0 15px 0;
}
.location h2{
    font-size: 20px;
    font-family: dalmatins;
    text-align: center;
}
.location iframe{
    margin-top: 25px;
    max-width: 90vw;
    height: 300px;
    border-radius: 20px;
    box-shadow: -1px 1px 20px rgba(0,0,0,.4);
}
.location p{
    font-family: nexa-light;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
    max-width: 80%;
}
.galeria-clinica{
    display: grid;
    grid-template-columns: 90vw 90vw 90vw 90vw;
    overflow: scroll;
    margin-top: 30px;
}
.galeria-clinica img{
    width: 90vw;
    height: 200px;
}
/*-------- quem somos ---------*/